@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* .montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
body{
	background-color: rgb(40, 40, 40);
	color: #2acbcb;
	font-family: "Montserrat", sans-serif !important; /* шрифт: */
  font-optical-sizing: auto;
  font-weight:400 ;
  font-style:normal; 
}
header{
	padding: 3%;
	background-color: rgb(31, 22, 21);
	font-weight: 600;
}
img{
	max-width: 100%;
}
main{
	/* margin: 50px 80px; */
	margin-top: 3%;
	width: 100%; 
	float: left;
}
main .user{
	background-color: #2acbcb;
	color: aliceblue;
	/* padding: 0px 20px; */
	margin-bottom: 3%;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 20px;
}
.deleteBtn, .editBtn{
	float: right;
	cursor: pointer;
	transform: scale(2);
	margin-right: 30px;
  margin-top: 20px;
}
.deleteBtn:hover, .editBtn:hover{
	opacity: 0.7;
	transform: scale(2.2);
}
aside{
	margin-top: 3%;
	width: 100%; 
}
form input:not([type='checkbox']),
form button{
	background-color: rgb(31, 22, 21);
	color:white;
	width: 100%;
	padding: 15px 5%;
	margin-bottom: 10px;
	border:0;
	outline: none;
	font-size: 15px;
	font-family: "Montserrat", sans-serif !important; /* шрифт: */
  font-optical-sizing: auto;
  /* font-weight:400 ;
  font-style:normal;  */
}
form label{
	color:white;
}
form button{
	cursor: pointer;
	transition: transform 500ms ease;
}
form button:hover{  transform: scale(1.1); }
#flexSwitchCheckChecked{ /*переключатель */
	margin-top: 50%;
}
.checkbox-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.user form input,
.user form button{
	width: 90%;
}